@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Trainings:</title>
</head>
<body>
    <div class="text-center">
        <h3> Welcome!</h3>
        <h4>YOU can SingUp for our trainings!</h4>

        <a class="btn btn-primary" asp-action="SingUpForm">SingUp Now</a>
    </div>
</body>
</html>
